@import 'react-notion-x.css';
@import 'notion.css';
@import 'prism-theme.css';
@import 'variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    max-width: 100vw;

    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #a1a1a1 #e5e5e5;
    &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-gray-400 rounded dark:bg-gray-600;
    }
    &::-webkit-scrollbar-track {
      @apply rounded bg-gray-100 dark:bg-gray-800;
    }
  }

  #__next {
    @apply text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-gray-900 relative;
  }

  ::selection {
    background-color: rgb(96 165 250 / 30%);
  }

  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  }
}

@layer components {
  .notion-collection {
    @apply max-w-0;
  }

  .notion-code .notion-code-copy {
    pointer-events: none;
  }

  .notion-code:hover .notion-code-copy {
    pointer-events: unset;
  }

  .card {
    @apply p-4 bg-white dark:bg-gray-800 rounded shadow-md;
  }

  .input {
    @apply w-full text-sm p-2.5 md:p-3 rounded transition-all shadow-md hover:shadow-gray-500/30 dark:hover:shadow-gray-500/30 focus:shadow-lg font-light leading-10 text-black dark:text-gray-50  bg-white dark:bg-gray-700 outline-0 focus-visible:outline-1 cursor-pointer disabled:cursor-not-allowed outline-black dark:outline-white disabled:hover:shadow-none disabled:dark:hover:shadow-none disabled:opacity-50;
  }

  .nc-int-icon-rotate {
    --animation-duration: 0.3s;
  }

  .nc-int-icon-b {
    position: absolute;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    opacity: 0;
  }

  .nc-int-icon-rotate .nc-int-icon-a,
  .nc-int-icon-rotate .nc-int-icon-b {
    transition: opacity 0s calc(var(--animation-duration) / 2),
      transform var(--animation-duration);
    transform-origin: center center;
  }

  .nc-int-icon-rotate .nc-int-icon-b {
    transform: rotate(90deg) scale(0.6);
  }

  .nc-int-icon-state-b .nc-int-icon-a {
    opacity: 0;
  }

  .nc-int-icon-state-b .nc-int-icon-b {
    opacity: 1;
  }

  .nc-int-icon-rotate.nc-int-icon-state-b .nc-int-icon-a {
    transform: rotate(-90deg) scale(0.6);
  }

  .nc-int-icon-rotate.nc-int-icon-state-b .nc-int-icon-b {
    transform: rotate(0);
  }

  .acrylic {
    backdrop-filter: blur(20px) saturate(180%);
  }

  .divide-spacer {
    & > *:not(:last-child)::after {
      content: '/';
      display: block;

      @apply text-gray-400 dark:text-gray-500 text-sm -mx-0.5;
    }
  }
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #a1a1a1 #e5e5e5;
    &::-webkit-scrollbar {
      width: 8px;
      height: 10px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-gray-300 rounded dark:bg-gray-600;
    }
    &::-webkit-scrollbar-track {
      @apply rounded dark:bg-transparent;
    }
  }
}

@layer utilities {
  a.disabled {
    @apply pointer-events-none opacity-20;
  }

  .shadow-text {
    text-shadow: 0.1em 0.1em 0.2em black;
  }

  .acrylic {
    backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .dark-mode .acrylic {
    backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  /* 隐藏滚动条 */
  .scroll-hidden {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none; /* firefox */
  }

  .scroll-hidden::-webkit-scrollbar {
    width: 0 !important;
  }

  .shadow-card {
    box-shadow: rgb(0 0 0 / 7%) 0 1px 2px, rgb(0 0 0 / 7%) 0 2px 4px,
      rgb(0 0 0 / 7%) 0 4px 8px, rgb(0 0 0 / 7%) 0 8px 16px,
      rgb(0 0 0 / 7%) 0 16px 32px, rgb(0 0 0 / 7%) 0 32px 64px;
  }

  .filter-dark {
    filter: invert(1) hue-rotate(180deg);
  }

  .filter-dark-1 {
    filter: invert(0.97) hue-rotate(173deg);
  }

  .space-y-responsive {
    @apply space-y-3 sm:space-y-4 lg:space-y-5;
  }

  .space-x-responsive {
    @apply space-x-3 sm:space-x-4 lg:space-x-5;
  }

  .gap-responsive {
    @apply gap-3 sm:gap-4 lg:gap-5;
  }

  .shadow-top-md {
    box-shadow: 0 -9px 24px rgb(0 0 0 / 16%);
  }

  .hover-text-primary {
    @apply hover:text-primary-400 dark:hover:text-primary-500;
  }

  .mobile-hidden {
    @media screen and (max-width: 1024px) {
      /* display: none; */
      visibility: hidden;
      height: 0;
      pointer-events: none;
      opacity: 0;
      transition: visibility 0s, opacity 200ms ease-in-out,
        height 200ms ease-in-out;
    }
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .max-width-view {
    max-width: 100vw;
  }

  .vertical-centered {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .shadow-top {
    box-shadow: 0 -25px 50px 12px rgb(0 0 0 / 25%);
  }

  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
