:root {
  --notion-font: inherit;
  --fg-color: rgb(55, 53, 47);
  --fg-color-0: rgba(55, 53, 47, 0.09);
  --fg-color-1: rgba(55, 53, 47, 0.16);
  --fg-color-2: rgba(55, 53, 47, 0.4);
  --fg-color-3: rgba(55, 53, 47, 0.6);
  --fg-color-4: #000;
  --fg-color-5: rgba(55, 53, 47, 0.024);
  --fg-color-6: rgba(55, 53, 47, 0.8);
  --fg-color-icon: var(--fg-color);

  --bg-color: #fff;
  --bg-color-0: rgba(135, 131, 120, 0.15);
  --bg-color-1: rgb(247, 246, 243);
  --bg-color-2: rgba(135, 131, 120, 0.15);

  --select-color-0: rgb(46, 170, 220);
  --select-color-1: rgba(45, 170, 219, 0.3);
  --select-color-2: #d9eff8;

  --notion-red: rgb(224, 62, 62);
  --notion-pink: rgb(173, 26, 114);
  --notion-blue: rgb(11, 110, 153);
  --notion-purple: rgb(105, 64, 165);
  --notion-teal: rgb(77, 100, 97);
  --notion-yellow: rgb(223, 171, 1);
  --notion-orange: rgb(217, 115, 13);
  --notion-brown: rgb(100, 71, 58);
  --notion-gray: rgb(155, 154, 151);

  --notion-red_background: rgb(251, 228, 228);
  --notion-pink_background: rgb(244, 223, 235);
  --notion-blue_background: rgb(221, 235, 241);
  --notion-purple_background: rgb(234, 228, 242);
  --notion-teal_background: rgb(221, 237, 234);
  --notion-yellow_background: rgb(251, 243, 219);
  --notion-orange_background: rgb(250, 235, 221);
  --notion-brown_background: rgb(233, 229, 227);
  --notion-gray_background: rgb(235, 236, 237);

  --notion-red_background_co: rgba(251, 228, 228, 0.3);
  --notion-pink_background_co: rgba(244, 223, 235, 0.3);
  --notion-blue_background_co: rgba(221, 235, 241, 0.3);
  --notion-purple_background_co: rgba(234, 228, 242, 0.3);
  --notion-teal_background_co: rgba(221, 237, 234, 0.3);
  --notion-yellow_background_co: rgba(251, 243, 219, 0.3);
  --notion-orange_background_co: rgba(250, 235, 221, 0.3);
  --notion-brown_background_co: rgba(233, 229, 227, 0.3);
  --notion-gray_background_co: rgba(235, 236, 237, 0.3);

  --notion-item-blue: rgba(0, 120, 223, 0.2);
  --notion-item-orange: rgba(245, 93, 0, 0.2);
  --notion-item-green: rgba(0, 135, 107, 0.2);
  --notion-item-pink: rgba(221, 0, 129, 0.2);
  --notion-item-brown: rgba(140, 46, 0, 0.2);
  --notion-item-red: rgba(255, 0, 26, 0.2);
  --notion-item-yellow: rgba(233, 168, 0, 0.2);
  --notion-item-default: rgba(206, 205, 202, 0.5);
  --notion-item-purple: rgba(103, 36, 222, 0.2);
  --notion-item-gray: rgba(155, 154, 151, 0.4);

  --notion-max-width: 720px;
  --notion-header-height: 45px;

  --scrollbarBG: transparent;
  --thumbBG: #727072;
  --select-color-2: #78dce859;
}

.dark-mode {
  --fg-color: #fcfcfa;
  --fg-color-0: var(--fg-color);
  --fg-color-1: var(--fg-color);
  --fg-color-2: var(--fg-color);
  --fg-color-3: var(--fg-color);
  --fg-color-4: var(--fg-color);
  --fg-color-5: rgba(255, 255, 255, 0.7);
  --fg-color-6: #fff;
  --fg-color-icon: #fff;

  --bg-color: #222022;
  --bg-color-0: #2d2a2e;
  --bg-color-1: #19181a;
  --bg-color-2: rgba(135, 131, 120, 0.15);

  --notion-red: #ff6188;
  --notion-pink: #ff78c7;
  --notion-blue: #78dce8;
  --notion-purple: #ab9df2;
  --notion-teal: #a9dc76;
  --notion-yellow: #ffd866;
  --notion-orange: #fc9867;
  --notion-brown: #ba8974;
  --notion-gray: #c1c0c0;
  --notion-red_background: #ff6188bb;
  --notion-pink_background: #ff78c7bb;
  --notion-blue_background: #78dce8bb;
  --notion-purple_background: #ab9df2bb;
  --notion-teal_background: #a9dc76bb;
  --notion-yellow_background: #ffd866bb;
  --notion-orange_background: #fc9867bb;
  --notion-brown_background: #ba8974bb;
  --notion-gray_background: #2d2a2ebb;
  --notion-red_background_co: #ff618865;
  --notion-pink_background_co: #ff78c765;
  --notion-blue_background_co: #78dce865;
  --notion-purple_background_co: #ab9df265;
  --notion-teal_background_co: #a9dc7665;
  --notion-yellow_background_co: #ffd86665;
  --notion-orange_background_co: #fc986765;
  --notion-brown_background_co: #ba897465;
  --notion-gray_background_co: #403e41;
}
